<body>
  <div class="abody">
    <br />
    <br />
    <div class="firstcontainer">
      <div class="zwbuttons row">
        <button
          type="button"
          class="activeAllgemein col"
          (click)="allgemein()"
          (click)="toggleAllgemein()"
          (click)="favorisiertToggle = true"
          [ngClass]="{
            inactiveAllgemein: this.allgemeinToggle,
            activeAllgemein: !this.allgemeinToggle
          }"
        >
          Allgemein
        </button>
        <button
          type="button"
          class="inactiveFavorisiert col"
          (click)="favorisiert()"
          (click)="toggleFavorisiert()"
          (click)="allgemeinToggle = true"
          [ngClass]="{
            inactiveFavorisiert: this.favorisiertToggle,
            activeFavorisiert: !this.favorisiertToggle
          }"
        >
          Favorisiert
        </button>
      </div>
    </div>
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="abody secondcontainer">
          <div class="FC row-md-12 text-center">
            <h2>Infos</h2>
          </div>
          <div class="scrollbar col-md-12" id="scrollbar">
            <div *ngIf="allgemein1">
              <div
                *ngFor="let versicherung of Versicherungenfav; index as i"
                class="BU row"
              >
                <button
                  id="{{ versicherung }}"
                  type="button"
                  class="fcbtn btn-outline-secondary col-md-12"
                  (click)="open(content)"
                  (click)="intendedContent($event)"
                >
                  {{ versicherung }}
                </button>
                <img
                  id="{{ versicherung }}"
                  class="sternleer"
                  src="/assets/icons/icon_favorite_star.svg"
                  (click)="changeImg($event)"
                />
              </div>

              <div
                *ngFor="let versicherung of VersicherungenOhneFav; index as j"
                class="BU row"
              >
                <button
                  id="{{ versicherung }}"
                  type="button"
                  class="fcbtn btn-outline-secondary col-md-12"
                  (click)="open(content)"
                  (click)="intendedContent($event)"
                >
                  {{ versicherung }}
                </button>
                <img
                  id="{{ versicherung }}"
                  class="sternleer"
                  src="/assets/icons/icon_favorite_star_empty.svg"
                  (click)="changeImg($event)"
                />
              </div>
            </div>
            <div *ngIf="favorisiert1">
              <div
                *ngFor="let versicherung of Versicherungenfav; index as i"
                class="BU row"
              >
                <button
                  id="{{ versicherung }}"
                  type="button"
                  class="fcbtn btn-outline-secondary col-md-12"
                  (click)="open(content)"
                  (click)="intendedContent($event)"
                >
                  {{ versicherung }}
                </button>
                <img
                  id="{{ versicherung }}"
                  class="sternleer"
                  src="/assets/icons/icon_favorite_star.svg"
                  (click)="changeImg($event)"
                />
              </div>
            </div>

            <!-- Popupfenster -->
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="title">
                  Berufsunfähigkeitsversicherung
                </h4>
                <button
                  type="button"
                  class="close"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                >
                  <span aria-hidden="true"> × </span>
                </button>
              </div>
              <div id="content" class="modal-body">
                {{ ContentListe[1] }}
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button id="nova" routerLink="/nova" class="nova fixed">
    <img
      src="/assets/nova/nova_home.png"
      alt="nova_home"
      width="140"
      height="140"
    />
  </button>
</body>
