<body>
  <nav class="navbar shadow justify-content-center fixed-bottom">
    <button class="btn" type="button" routerLink="/quiz" id="quizButton">
      <img class="navbtn" src="{{ quizIcon }}" />
      <p>Quiz</p>
    </button>

    <button class="btn" type="button" routerLink="/tipps" id="tippsButton">
      <img class="navbtn" src="{{ tippsIcon }}" />
      <p>Tipps</p>
    </button>

    <button class="btn" type="button" routerLink="/home" id="homeButton">
      <img class="navbtn" src="{{ homeIcon }}" />
      <p>Home</p>
    </button>
    <button class="btn" type="button" routerLink="/faq" id="faqButton">
      <img class="navbtn" src="{{ faqIcon }}" />
      <p>FAQ</p>
    </button>

    <button class="btn" type="button" routerLink="/infos" id="infoButton">
      <img class="navbtn" src="{{ infosIcon }}" />
      <p>Infos</p>
    </button>
  </nav>
</body>
