button{
    
    margin-left: auto;
    margin-right: auto;
}


/*
#container navbar{
    padding: 10px;
    background:lightgray;
   ? border: powderblue;
}

.quizIcon{
    width: 10;
    height: 10;
    margin: auto;
    overflow: auto;
} 
.tippsIcon{
    width: 10;
    height: 10;
    margin: auto;
    overflow: auto;
} 
.homeIcon{
    width: 10;
    height: 10;
    margin: auto;
    overflow: auto;
} 
.faqIcon{
    width: 10;
    height: 10;
    margin: auto;
    overflow: auto;
}   
.flashcardsIcon{
    width: 10;
    height: 10;
    margin: auto;
    overflow: auto;
}    
*/
