.navbar{
    background-color: lightskyblue
   
}
.btn{
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
}


/*width: 50;
    height: 50;
#container navbar{
    padding: 10px;
    background:lightgray;
   ? border: powderblue;
}

.quizIcon{
    width: 10;
    height: 10;
    margin: auto;
    overflow: auto;
} 
.tippsIcon{
    width: 10;
    height: 10;
    margin: auto;
    overflow: auto;
} 
.homeIcon{
    width: 10;
    height: 10;
    margin: auto;
    overflow: auto;
} 
.faqIcon{
    width: 10;
    height: 10;
    margin: auto;
    overflow: auto;
}   
.flashcardsIcon{
    width: 10;
    height: 10;
    margin: auto;
    overflow: auto;
}    
*/
