body {
  background-color: #f2f9fd;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
  position: fixed;
  width: 100%;
  height: 100%;
}
.Titel {
  margin-top: 50px;
  padding-top: 2%;
  padding-bottom: 10px;
  color: #2a2d2f;
  margin-left: auto;
  margin-right: auto;
  font-family: lato;
}

.Auswertung {
  align-content: center;
}
.AuswertungVersicherungen {
  padding-left: 5%;
  padding-right: 5%;
}
.ButtonVersicherung {
  padding: 5%;
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  justify-content: space-between;
  border-bottom: 1px solid lightslategray;
  margin-bottom: 5%;
  vertical-align: middle;
  font-size: 18px;
}
#pfeil {
  float: right;
  width: 20px;
  height: 31px;
}
.btnZumHauptmenue {
  background-color: #38cddc;
  width: 200px;
  color: #f2f9fd;
  padding: 20px;
  box-shadow: #131314 25%;
  border: none;
}
.grid-containerAuswertung {
  /*Auswertung Weiter Zum Hauptmenü-Button*/
  display: grid;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-around;
  text-align: center;
}
.grid-containerNovaSprechblase {
  display: grid;
  align-content: space-evenly;
  grid-template-columns: auto auto;
  grid-template-rows: 160px;
  background-color: #f2f9fd;
  padding: 10px;
  padding-bottom: 0%;
}

/*Sprechblase*/
.bubble {
  position: relative;
  font-family: lato;
  font-size: 12px;
  line-height: 1.3;
  width: 200px;
  height: 60%;
  background: #ffffff;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
  color: #000;
  justify-self: right;
}
.bubble-bottom-right::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-style: solid;
  border-width: 0 45px 25px 0;
  border-top: 40% solid #ffffff;
  border-color: #ffffff;
  border-bottom: 30px solid transparent;
  right: 15%;
  bottom: -14px;
}

/*Nova*/
.NovaLink {
  padding: 0%;
  border: none;
  background-color: inherit;
  align-self: end;
  align-content: end;
  width: 80px;
  height: auto;
}
.Nova {
  margin-right: 10%;
}
#NovaImage{
  width: 80px;
  height: 80px;
  
}