
.containername{font-family: lato;}
.container{font-family: lato;}

h1{
color: white;
}



body{
 background:linear-gradient(to bottom, #4ca3e1, #36D1DC);
  background-repeat: no-repeat;
  background-size: cover;
  position:fixed;
  height: 100%;
  width: 100%;
}


#question{

  position: relative;
  width:97%;
  height: 140%;
  right:3%;
  left:1.6%;
}
.btn{
  color:black;
  background:white;
  display: table-cell;
  padding: 19%;
  position:relative;
  border: 2px  #f2f9fd;
  box-shadow: #131314 25% blur;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;

}

.abtn{
  width: 100%;
  height: 140%;
  margin-top:140%;
  margin-block-start:10%;
  margin-block-end:5%;
}

.test{
  margin-top:18%;
}

#flash{

  position: relative;
  left: 3%;
}

#tipps{
  position: relative;
  right: 3%;
}

#faq{
  position: relative;
  left: 3%;
}#quiz{
  position: relative;
  right: 3%;
}


