<body>
  <div class="containername">
    <div class="text-center">
      <h1>Hallo, {{ nameIntro }}!</h1>
    </div>
  </div>
  <div class="container_main">
    <div class="grid-container" id="firstcont">
      <button
        type="button"
        class="btn btn-default"
        routerLink="/questions"
        (click)="fragebogen()"
      >
        Fragenkatalog
      </button>
    </div>

    <div class="grid-container" id="secondcont">
      <button type="button" class="btn btn-default" routerLink="/infos">
        Infos
      </button>
      <button type="button" class="btn btn-default" routerLink="/quiz">
        Quiz
      </button>
      <button type="button" class="btn btn-default" routerLink="/tipps">
        Tipps
      </button>
      <button type="button" class="btn btn-default" routerLink="/faq">
        FAQ
      </button>
    </div>
  </div>
  <div class="grid-container fixed-bottom">
    <button id="settingButton" routerLink="/settings">
      <img
        src="/assets/icons/icon_setting.svg"
        alt="icon_setting"
        width="40"
        height="40"
      />
    </button>

    <button
      id="novaButton"
      (click)="navigate()"
    >
      <img
        src="/assets/nova/nova_home.png"
        alt="nova_home"
        width="140"
        height="140"
      />
    </button>
  </div>
</body>
