
h1 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 8vw;
}

body {
  background: linear-gradient(to bottom, #4ca3e1, #36d1dc);
  padding-top: 80px;
  width: 100%;
  height: 1366px;
  position: fixed;
}


.btn {
  font-family: 'Lato', sans-serif;
  color: black;
  background: white;
  text-align: center;
  border: none;
  padding: 15% 15%;
  font-size: 5vw;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius:10px;
}

#firstcont {
  display: grid;
  grid-template-columns: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-radius: 30%;
}

.grid-container.fixed-bottom {
  grid-gap: 55px;
}

#settingButton {
  background-color: transparent;
  border-color: transparent;
  align-self: flex-end;
}

#novaButton {
  background-color: transparent;
  border-color: transparent;
  align-self: flex-end;


}
