.navbar{
    background-color:#FCFCFC;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    height: 50px;
    position: fixed;
    align-content: center;
}

.btn{
    padding: 0%;
}

.topnav #search{
    float: right;
}