

/* 
#container header{
    padding: 10px;
    background:lightgray;
}

.logoIcon{
    width: 10;
    height: 10;
    font: left;
    overflow: auto;
}
.search{
    float:right;
}

Button ist ein Bild
button{
    color:black;
    background:white;
    border: 2px solid rgb(224, 12, 12);
} 
*/