body{
    background-color: #F2F9FD;
    background-repeat: no-repeat;
  background-size: cover;
  position:fixed;
  height: 100%;
  width: 100%;
}

.btn{
    border-color: black;
}
.Titel{
    color:#2a2d2f;
}