<!DOCTYPE html>
<html>
  <head> 
    <link rel="stylesheet" href="questions.component.css" />
  </head>
  <body>
    <div class="Titel justify-content-center">
      <h1>Fragenkatalog</h1>
    </div>
    <div>
      <!--Textfeld-->
      <div><!--Image Story--><img src="/src/assets/fragenkatalog/Bild 1.png"><p>bild</p></div>
      <div><!--Story--><p>Story...</p></div>
      <div><!--"Anhören" Button--><button class="btn">Anhören</button></div>
      <div class="RadioButtonsJaNein">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            
            id="rb_Ja"
            value="option1"            

                 
          />
          <label class="form-check-label" for="rb_Ja"> Ja </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            
            id="rb_Nein"
            value="option2"
            

          />
          <label class="form-check-label" for="rb_Nein"> Nein </label>
        </div>
      </div>
    </div>
    <div><!--Vor-/ Zurück- Buttons--></div>
    <div><!--Sprechblase Frage--></div>
    <div><!--Nova Image--></div>
  </body>
</html>
