<html>
  <head>
    <link rel="stylesheet" href="questions.component.css" />
  </head>
  <body>
    <div [hidden]="start">
      <div class="WillkommenSeite">
        <div class="Titelintro text-center">
          <h1>Willkommen im Fragenkatalog</h1>
        </div>
        <div class="WillkommenBild">
          <img
            id="WillkommenBild"
            src="/assets/Bilder_Fragenkatalog/Fragenkatalog_willkommen_grafik.png"
          />
        </div>

        <div class="col rowVZ inline">
          <button id="V1button" class="btn">
            <img
              src="/assets/icons/icon_arrow_forward.svg"
              width="50"
              height="50"
              (click)="further()"
            />
          </button>
        </div>
        <div
          class="row grid-containera nova_and_question form-group fixed-bottom"
        >
          <div class="grid-itema tbq">
            <img
              src="/assets/Sprechblase/speech_bubble_one.png"
              width="auto"
              height="auto"
              id="TalkBubbleWelcome"
            />
            <div class="grid-itema questions">
              <p class="fragenkatalog-intro-bubble">
                Beantworte die folgenden Fragen und erhalte im Anschluss auf
                dich zugeschnittene Empfehlungen.</p
              >
            </div>
          </div>
          <div class="grid-itema nova_img">
            <img
              src="/assets/nova/nova_fragenkatalog.png"
              width="auto"
              height="auto"
              id="NovaImage"
            />
          </div>
        </div>
      </div>
    </div>
    <mat-progress-bar
      *ngIf="start"
      mode="determinate"
      value="{{ progressquestionprozent }}"
      class="progress"
    ></mat-progress-bar>
    <div [hidden]="fragenkatalog">
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
