<body>
  <div class="row Novaheader form-inline">
    <button class="zurueckButton" type="button" (click)="navigateBack()">
      <img id="zurueck" src="/assets/icons/icon_auswertung_arrow.svg" />
    </button>
    <div class="Titel text-center">
      <h3>Nova</h3>
    </div>
    <button
      type="button"
      class="LinkEinfuehrungApp btn-link"
      routerLink="/intro"
    >
      Einführung der App
    </button>
  </div>
  <!--Sprechblase-->
  <div class="grid-containerNovaSprechblase">
    <div class="bubble shadow bubble-bottom-left" contenteditable="false">
      Hi {{ nameIntro }},du befindest dich im {{ resolveRoute(previousRoute) }}.
      Wie kann ich dir helfen?
    </div>

    <div class="Nova">
      <!--NovaImage-->
      <img
        src="/assets/nova/nova_intro_links.png"
        width="80"
        height="80"
        id="NovaImage"
      />
    </div>
  
    <div>
      <questions-to-tips *ngIf="toggleQuestionsToTips"></questions-to-tips>
    </div>
    <div>
      <questions-to-quiz *ngIf="toggleQuestionsToQuiz"></questions-to-quiz>
    </div>
    <div>
      <questions-to-questionaire
        *ngIf="toggleQuestionsToQuestionaire"
      ></questions-to-questionaire>
    </div>
    <div>
      <questions-to-settings
        *ngIf="toggleQuestionsToSettings"
      ></questions-to-settings>
    </div>
    <div>
      <questions-to-infos *ngIf="toggleQuestionsToInfos"></questions-to-infos>
    </div>
  </div>

  <div class="grid-containerAntwortChat">
    <button
      type="button"
      class="chatAntwort shadow rounded-pill"
      (click)="toggleQuestionsToTips = !toggleQuestionsToTips"
      (click)="toggleQuestionsToQuiz = false"
      (click)="toggleQuestionsToQuestionaire = false"
      (click)="toggleQuestionsToSettings = false"
      (click)="toggleQuestionsToInfos = false"
    >
      Fragen zu den Tipps
    </button>
    <button
      type="button"
      class="chatAntwort shadow rounded-pill"
      (click)="toggleQuestionsToInfos = !toggleQuestionsToInfos"
      (click)="toggleQuestionsToQuiz = false"
      (click)="toggleQuestionsToQuestionaire = false"
      (click)="toggleQuestionsToSettings = false"
      (click)="toggleQuestionsToTips = false"
    >
      Über Infos
    </button>
    <button
      type="button"
      class="chatAntwort shadow rounded-pill"
      (click)="toggleQuestionsToQuiz = !toggleQuestionsToQuiz"
      (click)="toggleQuestionsToTips = false"
      (click)="toggleQuestionsToQuestionaire = false"
      (click)="toggleQuestionsToSettings = false"
      (click)="toggleQuestionsToInfos = false"
    >
      Fragen zum Quiz
    </button>
  </div>
  <div class="grid-containerAntwortChat2">
    <button
      type="button"
      class="chatAntwort shadow rounded-pill"
      (click)="toggleQuestionsToQuestionaire = !toggleQuestionsToQuestionaire"
      (click)="toggleQuestionsToTips = false"
      (click)="toggleQuestionsToQuiz = false"
      (click)="toggleQuestionsToSettings = false"
      (click)="toggleQuestionsToInfos = false"
    >
      Über den Fragenkatalog
    </button>
    <button
      type="button"
      class="chatAntwort shadow rounded-pill"
      (click)="toggleQuestionsToSettings = !toggleQuestionsToSettings"
      (click)="toggleQuestionsToTips = false"
      (click)="toggleQuestionsToQuiz = false"
      (click)="toggleQuestionsToQuestionaire = false"
      (click)="toggleQuestionsToInfos = false"
    >
      Über die Einstellungen
    </button>
  </div>
</body>
