<head>
   <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
</head>
<body>
  <div class="Fenster">
  <div class="text-center"><h1>FAQ</h1></div>
  <div *ngFor="let frage of faq">
  <mat-accordion>
    <div class="abstand">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>{{frage.fragen}}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{frage.antworten}}</p>
    </mat-expansion-panel>
  </div>
  </mat-accordion>
  </div>
  </div>
  <div class="fab">
    <novafav-btn></novafav-btn>
  </div>
</body>