<div class="Frage">
  <div [formGroup]="form">
    <div class="card" *ngIf="this.activeQuestion">
      <img
        src="data:image/gif;base64,{{ this.activeQuestion.bild }}"
        class="img-responsive"
      />
      <div *ngIf="isStoryVisible" class="ImageStory">
        {{ this.activeQuestion.story }}
      </div>
      <!--"Anhören" Button-->
      <div *ngIf="isStoryVisible" class="AnhoerenButton">
        <button class="btn" id="anhoeren" (click)="playsound()">
          <img class="anhoerenIcon" src="/assets/icons/icon_anhoeren.svg" />
          Anhören
        </button>
      </div>
      <div class="RadioButtonsJaNein form-group">
        <div id="ButtonJa" class="form-check form-check-inline">
          <input
            type="radio"
            name="stories"
            formControlName="stories"
            value="ja"
            id="redundant"
          />
          <label class="form-check-label" for="redundant"> Ja </label>
        </div>
        <div id="ButtonNein" class="form-check form-check-inline">
          <input
            type="radio"
            name="stories"
            formControlName="stories"
            value="nein"
            id="redundant1"
          />
          <label class="form-check-label" for="redundant1"> Nein </label>
        </div>
      </div>
    </div>
    <div class="col rowVZ form-group">
      <button
        id="Wbutton"
        class="btn form-control"
        (click)="weiter()"
        name="weiter"
        formControlName="weiter"
      >
        <!--Andere id als bei radio.component-->
        <img
          src="/assets/icons/icon_arrow_forward.svg"
          width="50"
          height="50"
        />
      </button>
      <button
        id="bbuttonl"
        class="btn form-control"
        (click)="zurueck()"
        name="zurueck"
        formControlName="zurueck"
      >
        <img src="/assets/icons/icon_arrow_back.svg" width="50" height="50" />
      </button>
    </div>
  </div>
</div>
<div class="grid-containerNovaSprechblase">
  <div class="bubble shadow bubble-bottom-right" contenteditable="false">
    {{ fragenanzeige }}
  </div>
  <img
    src="/assets/nova/nova_fragenkatalog.png"
    width="100"
    height="100"
    id="NovaImage"
  />
</div>
