<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="intro.component.css" />
  </head>
  <body>
    <div class="Titel justify-content-center">
      <h1>Wie heißt du?</h1>
    </div>
    <form>
      <div class="form-group justify-content-center">
        
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Name"
        />
      </div>
      
      <div class="col justify-content-center">
        <button type="submit" class="btn rounded-pill">STARTEN</button>
      </div>
    </form>
    <!--  <a href="navbar.component.html"></a>    /   target="_top"  /   <?php include ("page.html"); ?>    /  -->
  </body>
</html>
