  <body>
    <app-novadialog *ngIf="novadialog"></app-novadialog>
    <app-insurance *ngIf="insurance"></app-insurance>

    <div *ngIf="logo">
      <!--Intro-Willkommen Logo-->
      <div class="IntroLogo">
        <img
          class="LogoGross"
          src="/assets/icons/alleare_Logo.svg"
          width="80"
          height="80"
        />
      </div>
      <div class="IntroWillkommen"><h1>Willkommen</h1></div>
    </div>

    <div *ngIf="namenseingabe">
      <!--Intro-Nameneingabe-->
      <div class="Titel justify-content-center">
        <h1>Wie heißt du?</h1>
      </div>
      <form>
        <div [formGroup]="form" rounded class="Namenseingabe">
          <input
            type="text"
            class="form-control"
            formControlName="Name"
            id="formGroupExampleInput"
            placeholder="Name"
          />
        </div>
        <div class="col justify-content-center">
          <button
            type="submit"
            class="btn rounded-pill"
            routerLink=""
            (click)="saveName()"
          >
            WEITER
          </button>
        </div>
      </form>
    </div>

    <!--Intro-Nova vorstellung-->
    <div *ngIf="novaIntro" class="container">
      <div class="bubble shadow bubble-bottom-right" contenteditable="false">
        Hi {{ Name }}, <br />
        mein Name ist Nova dein neuer digitaler Freund. Ich bin immer da, wenn
        du mich brauchst!
      </div>
      <div class="col2">
        <img
          src="/assets/nova/nova_intro_rechts.png"
          width="100"
          height="100"
          id="NovaImage"
        />
      </div>
      <div class="col justify-content-center">
        <button
          type="submit"
          id="WeiterKnopf"
          class="btn rounded-pill"
          (click)="weiter()"
        >
          WEITER
        </button>
      </div>
    </div>
  </body>
